*{
    margin: 0;
    border-style: border-box;
}

nav{
    background-color: blue;
}

nav ul {
    
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

nav ul a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}